*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::selection{
   background-color: rgb(225,203,112); 
}



body{
      background-color: #f0efef;
}


.parent{
    width: 350px;
    height: 600px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 4px solid #e9e7e7;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
}

.box1:hover{
    border-radius: 20px;
     border: 2px solid #f0efef;
}


.box2:hover{
     border-radius: 20px;
     border: 2px solid #f0efef;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 20px;
    font-size: 1.1rem;
}

p{
    font-size: 1.4rem;
    font-weight: 500;
    
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    font-size: 1.1rem;
}

.box3{
    width: 340px;
    height: 50px;
    background-color: #800020;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}